<h1>New Review</h1>

<h3>Enter in your name:</h3>
<%= form_for @review do |f| %>
  <%= f.label :name %>
  <%= f.text_field :author %>
  <%= f.submit  %>
<% end %>

<h1>What are your comments:</h1>
<%= form_for @review do |f| %>
  <%= f.label :comments %>
  <%= f.text_field :content_body %>
  <%= f.submit  %>
<% end %>

<h1>Rating</h1>
<%= form_for @review do |f| %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit  %>
<% end %>

<h1>New review</h1>
<%= radio_button_tag(:recommended, "Yes") %>
<%= label_tag(:recommended_yes, "This is a recommended product") %>
<%= radio_button_tag(:recommended, "No") %>
<%= label_tag(:recommended_no, "This is NOT a recommended product") %>
